@section scripts{
    <script type="text/javascript">
$(function()
{
        $.getJSON('/api/inventory', function(inventoryJsonPayload)
        {
            $(inventoryJsonPayload).each(function(i, item)
            {
                $('#inventory').append('<li>' + item.Sku + item.Product + item.Quantity + '</li>');
            });
        });
});
    </script>
}

<div id="body">
    <ul id="inventory"></ul>
</div>
